<div id="gift-details"
     data-id="gift-details"
     data-role="view"  
     data-title="Gift Details" 
     data-layout="detailed-layout"
     data-show="app.giftdetails.init">
    <div id="giftdetails-container">
        <div id="giftdetails-image">
            <img />
        </div>
        <h2 data-bind="text: name"></h2>
        <div class="info-container">
            <strong>Description: </strong><span data-bind="text: description"></span>
        </div>
        <div class="info-container">
            <strong>Latitude: </strong><span data-bind="text: latitude"></span>
        </div>
        <div class="info-container">
            <strong>Longitude: </strong><span data-bind="text: longitude"></span>
        </div>
        <div class="info-container">
            <strong>Url: </strong><span data-bind="text: url"></span>
        </div>
    </div>

</div>