<div id="gift-details"
     data-id="gift-details"
     data-role="view"  
     data-title="Gift Details" 
     data-layout="detailed-layout"
     data-show="app.giftdetails.init">
    <div id="giftdetails-container">
        <div id="giftdetails-image">
            <img />
        </div>
        <h3 data-bind="text: name"></h3>
        <div>
            Description: <span data-bind="text: description"></span>
        </div>
        <div>
            Latitude: <span data-bind="text: latitude"></span>
        </div>
        <div>
            Longitude: <span data-bind="text: longitude"></span>
        </div>
        <div>
            Url: <span data-bind="text: url"></span>
        </div>
    
    </div>

    <!-- <div class="home head">&nbsp;</div>   
    <a class="button" data-role="button" href="#button-home" style="color: #fff; background-color: #f60">Home</a>
    <a class="button" data-role="button" href="#facility">Facility</a>
    <a class="button" data-role="button" href="#sports">Sports</a>
    <ul data-role="listview" data-style="inset">
    <li>
    <p>Our Sports Academy provides a venue for outdoor and indoor sports and activities for children and adults of all ages.</p>
    </li>
    </ul>-->

</div>